img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

body{
    font-family: 'Noto Sans TC','Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: #fff;
    display: block;
}
a:hover{
    color: lightblue;
}


*,*::after,*::before{
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    @include pad(){
        padding-left: 36px;
        padding-right: 36px;
    }
    @include phone(){
        padding-left: 14px;
        padding-right: 14px;
    }

}

.bg-main{
     background-color: #AA0601;
}
.bg-black{
    background-color: #000;
}
.bg-pink{
    background-color: #FBF2F2;
}
