.index h2{
    font-size: 48px;
    font-weight: 700;
}
.bg-banner
{
    background-image: url(../images/home-header.png);
    background-position: center;
    background-size: cover;
}
.banner{
    padding: 296px 0;
    text-align: right;
    color: #650300;
}
.banner h1{
    font-size: 64px;
    font-weight: 700;
}
.banner p {
    font-size: 36px;
}
.banner a{
    display: inline;
    padding: 6px 12px;
    margin-top: 10px;
    color: #fff;
    border: 0;
    font-size: 20px;
}
.banner a:hover{
    color: lightblue;
}

.promise{
    color: #650300;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.promise ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.promise li {
    width: 24%;
}
.promise img{
    margin-top: 32px;
    width: 84px;
    height: 84px;
}
.promise h3{
    font-size: 24px;
    font-weight: 700;
    margin-top: 24px;
}
.promise p{
    font-size: 16px;
    color: #000;
    text-align: left;
    margin-top: 8px;
}

@media (max-width:992px) {
    .promise{
        padding-left: 36px;
        padding-right: 36px;
    }

    .promise li {
        width: 48%;
    }
}

.classic{
    color: #650300;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.classic ul{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}
.classic li {
    width: 32%;
}
.classic h3{
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    margin-top: 8px;
    color: #aa0601;
    font-size: 48px;
}

@media (max-width:992px) {
    .classic ul{
        margin-top: 24px;
        flex-direction: column;
        align-items: center;
    }
    .classic li {
        width: 50%;
        margin-top: 24px;
    }
}

.bg-design{
    background-image: url(../images/index-bg.png);
    background-position: center;
    background-size: cover;
}
.design{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}
.design h2{
    color: #fff;
}
.design ul{
    margin-top: 48px;
    display: flex;
}
.design li{
    width: 50%;
}
.design h3{
    padding: 8px 0;
    font-size: 48px;
    color: #AA0601;
    background-color: #fff;
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
}
.design-img-1{
    height: 240px;
    background-image: url(../images/home-section4-1.png);
    background-position:  center;
    background-size: cover;
}
.design-img-2{
    height: 240px;
    background-image: url(../images/home-section4-2.png);
    background-position:  center;
    background-size: cover;
}

@media (max-width:992px) {
    .design{
        padding-right: 36px;
        padding-left: 36px;
    }
    .design ul{
        margin-top: 24px;
        flex-direction: column;
        align-items: center;
    }
    .design li{
        width: 100%;
        margin-top: 24px;
    }
}

.customer
{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}
.customer h2{
    color: #650300;
    display: flex;
    flex-direction: column;
}
.customer ul {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.customer li{
    width: 23%;
}
.opinion{
    padding: 16px;
    box-shadow: 0px 2px 6px #DEE2E6;
    text-align: left;
}
.opinion h3
{
    font-size: 16px;
    font-weight: 500;
}
.opinion p
{
    font-size: 16px;
    margin-top: 8px;
}
.opinion .time{
    margin-top: 48px;
    font-size: 14px;
    color: #707070;
}

@media (max-width:992px) {
    .customer{
        padding-right: 36px;
        padding-left: 36px;
    }
    .customer ul {
        margin-top: 24px;
    }
    .customer li{
        margin-top: 24px;
        width: 48%;
    }
}

.form{
    max-width: 640px;
    padding: 80px 12px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.form h2{
    color: #650300;
}
.form p {
    text-align: left;
    font-size: 20px;
    margin-top: 48px;
}
.form a{
    padding: 16px 176px;
    display: block;
    margin-top: 48px;
}
.form .reply{
    width: 100%;
    font-size: 16px;
}
.form .reply p{
    margin-top: 16px;
}
.reply input{
    margin-top: 8px;
    width: 100%;
    border: 1px solid #000;
    font-size: 16px;
    padding: 6px 12px;
}
.reply textarea{
    margin-top: 8px;
    width: 100%;
    border: 1px solid #000;
    font-size: 16px;
    padding: 6px 12px;
}

.checkbox{
    display: flex;
    margin-top: 16px;
}
.checkbox input{
    width: 24px;
    height: 24px;
    margin: 0;
    margin-right: 4px;
    border: 1px solid #000;
}
.checkbox p{
    margin-top: 0;
    font-size: 16px;
}

@media (max-width:992px) {
    .form{
        max-width: 100%;
        padding-left: 96px;
        padding-right: 96px;
    }
}