.index h2{
    font-size: 48px;
    font-weight: 700;
    @include phone(){
        font-size: 24px;
    }
}
.bg-banner
{
    background-image: url(../images/home-header.png);
    background-position: center;
    background-size: cover;

    @include phone(){
        background-image: url(../images/home-header-sm.png);
    }
}
.banner{
    padding-top: 296px;
    padding-bottom: 296px;
    text-align: right;
    color: #650300;
    @include phone(){
        padding-top: 144px;
        padding-bottom: 144px;
    }

    h1{
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 10px;
        @include phone(){
            font-size: 24px;
            margin-bottom: 8px;
        }
    }

    p {
        font-size: 36px;
        @include phone(){
            font-size: 16px;
        }
    }

    a{
        display: inline;
        padding: 6px 12px;
        color: #fff;
        border: 0;
        font-size: 20px;
    }

    a:hover{
        color: lightblue;
    }
}

.promise{
    color: #650300;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    @include phone(){
        padding-top: 40px;
        padding-bottom: 40px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    li {
        width: 24%;
        @include pad(){
            width: 48%;
        }
        @include phone(){
            width: 100%;
        }
    }

    img{
        margin-top: 32px;
        width: 84px;
        height: 84px;
    }

    h3{
        font-size: 24px;
        font-weight: 700;
        margin-top: 24px;
    }

    p{
        font-size: 16px;
        color: #000;
        text-align: left;
        margin-top: 8px;
    }
}

.classic{
    color: #650300;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    @include phone(){
        padding-top: 40px;
        padding-bottom: 40px;
    }

    ul{
        display: flex;
        justify-content: space-between;
        margin-top: 48px;
        @include pad(){
            margin-top: 24px;
            flex-direction: column;
            align-items: center;
        }
    }

    li {
        width: 32%;
        @include pad(){
            width: 50%;
            margin-top: 24px;
        }
        @include phone(){
            width: 100%;
        }
    }

    h3{
        font-family: Roboto;
        font-style: italic;
        font-weight: 900;
        margin-top: 8px;
        color: #aa0601;
        font-size: 48px;
    }
    
}

.bg-design{
    background-image: url(../images/index-bg.png);
    background-position: center;
    background-size: cover;
    @include pad(){
        background-image: url(../images/index-bg-md.png);
    }
    @include phone(){
        background-image: url(../images/index-bg-sm.png);
    }
}
.design{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    @include phone(){
        padding-top: 40px;
        padding-bottom: 40px;
    }

    h2{
        color: #fff;
    }

    ul{
        margin-top: 48px;
        display: flex;
        @include pad(){
            margin-top: 24px;
            flex-direction: column;
            align-items: center;
        }
    }

    li{
        width: 50%;
        @include pad(){
            width: 100%;
            margin-top: 24px;
        }
    }

    h3{
        padding: 8px 0;
        font-size: 48px;
        color: #AA0601;
        background-color: #fff;
        font-family: Roboto;
        font-style: italic;
        font-weight: 900;
    }
}

.design-img-1{
    height: 240px;
    background-image: url(../images/home-section4-1.png);
    background-position:  center;
    background-size: cover;
    @include phone(){
        background-image: url(../images/home-section4-1-sm.png);
    }
}
.design-img-2{
    height: 240px;
    background-image: url(../images/home-section4-2.png);
    background-position:  center;
    background-size: cover;
    @include phone(){
        background-image: url(../images/home-section4-2-sm.png);
    }
}

.customer
{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    @include phone(){
        padding-top: 40px;
        padding-bottom: 40px;
    }

    h2{
        color: #650300;
        display: flex;
        flex-direction: column;
    }

    ul {
        margin-top: 48px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include pad(){
            margin-top: 24px;
        }
    }

    li{
        width: 23%;
        @include pad(){
            margin-top: 24px;
            width: 48%;
        }
        @include phone(){
            width: 100%;
        }
    }
}

.opinion{
    padding: 16px;
    box-shadow: 0px 2px 6px #DEE2E6;
    text-align: left;

    h3{
        font-size: 16px;
        font-weight: 500;
    }

    p{
        font-size: 16px;
        margin-top: 8px;
    }

    .time{
        margin-top: 48px;
        font-size: 14px;
        color: #707070;
        @include pad(){
            margin-top: 72px;
        }
        @include phone(){
            margin-top: 96px;
        }
    }
}

.form{
    max-width: 640px;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    @include pad(){
        max-width: 100%;
        padding-left: 96px;
        padding-right: 96px;
    }
    @include phone(){
        padding: 40px 14px;
    }

    h2{
        color: #650300;
    }

    p {
        text-align: left;
        font-size: 20px;
        margin-top: 48px;
    }

    a{
        padding: 16px 176px;
        display: block;
        margin-top: 48px;
        @include phone(){
            padding: 16px 0;
            width: 100%;
        }
    }

    .reply{
        width: 100%;
        font-size: 16px;

        p{
            margin-top: 16px;
        }

        input{
            margin-top: 8px;
            width: 100%;
            border: 1px solid #000;
            font-size: 16px;
            padding: 6px 12px;
        }

        textarea{
            margin-top: 8px;
            width: 100%;
            border: 1px solid #000;
            font-size: 16px;
            padding: 6px 12px;
        }
    }
}

.checkbox{
    display: flex;
    margin-top: 16px;

    input{
        width: 24px;
        height: 24px;
        margin: 0;
        margin-right: 4px;
        border: 1px solid #000;
    }

    p{
        margin-top: 0;
        font-size: 16px;
    }
}
