.content{
    padding-top: 96px;
    padding-bottom: 32px;
}

h1{
    font-weight: 700;
    padding-left: 16px;
    border-left: 8px solid #9F1213;
    font-size: 48px;
}

.location-select{
    display: flex;
    margin-top: 33px;
}

.location-select select{
    margin-left: 16px;
    width: 20%;
}

.location-info{
    display: flex;
    flex-wrap: wrap;
    margin-top: 46px;
}

.location-info-store{
    width: 31.333%;
    margin-bottom: 48px;
    margin-right: 1%;
    margin-left: 1%;
}

.location-info-store h2{
    padding: 8px 24px;
    border: 1px solid #00000020;
    font-size: 24px;
}

.store-info{
    border: 1px solid #00000020;
    padding: 8px 24px 16px 24px;
}
.store-info ul li {
    display: flex;
    margin-top: 8px;
    font-size: 20px;
}
.store-info ul li span{
    margin-right: 12px;
}

.bg-black{
    background-color: #000;
}

.btn-store-info-detail{
    text-align: center;
    font-size: 19px;
    line-height: 27px;
    padding: 16px 0;
}

@media (max-width: 992px){
    .content{
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 56px;
    }

    .location-info{
        justify-content: space-between;
    }
    .location-info-store{
        width:48%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 24px;
    }
}

@media (max-width: 767px){
    .content{
        padding: 40px 14px 40px 14px;
    }

    .location-info-store{
        width:100%;
    }
}