.content{
    padding-top: 96px;
    padding-bottom: 32px;
}

h1{
    font-weight: 700;
    padding-left: 16px;
    border-left: 8px solid #9F1213;
    font-size: 48px;
}

.store-select{
    display: flex;
    margin-top: 33px;
}

.store-select select{
    margin-left: 16px;
    width: 20%;
}

.store{
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
}

.location-info-store{
    width: 33%;
    margin-bottom: 48px;
    margin-right: 3%;
}

.location-info-store h2{
    padding: 8px 24px;
    border: 1px solid #00000020;
    font-size: 24px;
}

.store-info{
    border: 1px solid #00000020;
    padding: 8px 24px 16px 24px;
}
.store-info ul li {
    display: flex;
    margin-top: 8px;
    font-size: 20px;
}
.store-info ul li span{
    margin-right: 12px;
}

.location-map{
    width: 65%;
}

@media (max-width: 992px){
    .content{
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 80px;
    }

    .store{
        flex-wrap: wrap;
    }

    .location-info-store{
        margin: 0;
        margin-bottom: 24px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .location-info-store img{
        width: 48%;
    }
    .store-location{
        width: 48%;
    }

    .location-map{
        width: 100%;
    }
}

@media (max-width: 767px){
    .content{
        padding: 40px 14px 64px 14px;
    }

      .location-info-store img{
        width: 100%;
    }
    .store-location{
        width: 100%;
    }
}